.tiledBackground {
  background-image: url(https://trello-attachments.s3.amazonaws.com/5cbfa15772fbdb774fccc359/5cc49a5ee4f4aa7f484c3bb1/09f0dfc7e0d53f73df69e9e633a5dfe1/nyc.jpg);
  background-size: cover;
  height: 100vh;

}